/*
Visual styles
Overrides common.css where applicable

Index:
*Colors
**Link Colors
*Borders
*Backgrounds
*Typography
**Links Typo
*/


/*Colors***********/
.black {
    color: #000;
}

.white {
    color: #FFF;
}

.grey {
    color: #C0C0C0;
}

.grey-light {
    color: #F3F3F3;
}

.grey-dark {
    color: #707070;
}

.charcoal {
    color: #36424B;
}

.primary {
    color: #D6E4E6; /*blue*/
}

.primary-light {
    color: #F1F2F2;
}

.primary-dark {
    color: #007596;
}

.secondary {
    color: #B3D32D; /*green*/
}

.secondary-light {
    color: #DCE9CD;
}

.secondary-dark {
    color: #678f00;
}

.secondary-safe {
    color: #336633; /*contrast safe against white*/
}

.tertiary {
    color: #FFCD29; /*orange*/
}

.tertiary-light {
    /*color:#000;*/
}

.tertiary-dark {
    color: #F47920;
}

.tertiary-safe {
    color: #C24A00; /*contrast safe against white*/
}

.important {
    color: #CC0000; /*contrast safe against white*/
}
/**Link Colors*/
a {
    color: #0E82AC;
}

.header-link,
.nav-main-link {
    /*Black*/
    color: #000;
}

#nav a:hover,
#nav a:active {
    color: #000;
}

/*---*/
body {
    /*background: #A1BEDD; UAT blue*/
    background: #E6E6E6; /*pale grey*/
    color: #36424B; /*charcoal*/
}

.currentPageHolder .crumb-text {
    color: #36424B;
}

.crumb-item:first-child .crumb-text {
    color: #36424B; /*charcoal*/
}

.search .search-text {
    color: #000;
}

.search label.show {
    color: #a5acb0;
}

.search label.hide {
    color: #fff;
}
/*^.about-link, .footer-goa-link*/
.footer-link:link, .footer-link:hover, .footer-link:visited {
    color: #36424b /*charcoal*/;
}

.nav-sub .nav-sub-item .nav-sub-link {
    color: #333;
}

.pageInfo, .datePosted, .date, .docInfo, a.linkMiniH2, div.linkMiniH2 a, p.miniH2 {
    color: #707070; /*grey-dark*/
}

.redSafe {
    color: #CC0000;
}

.greenSafe {
    color: #336633;
}

.orangeSafe {
    color: #C24A00;
}

/*Borders**********/
.border {
    border: 1px solid #000;
}

.border-white {
    border: 1px solid #FFF;
}

.border-grey {
    border: 1px solid #C0C0C0;
}

.border-grey-light {
    border: 1px solid #F3F3F3;
}

.border-grey-dark {
    border: 1px solid #707070;
}

.border-primary {
    border: 1px solid #D6E4E6 /*blue*/;
}

.border-primary-light {
    border: 1px solid #F1F2F2;
}

.border-primary-dark {
    border: 1px solid #007596;
}

.border-secondary {
    border: 1px solid #B3D32D /*green*/;
}

.border-secondary-light {
    border: 1px solid #DCE9CD;
}

.border-secondary-dark {
    border: 1px solid #678f00;
}

.border-none {
    border: none;
}
/*---*/
.header-link {
    border-right: 1px solid #36424B /*charcoal*/;
}

.header-item.last .header-link {
    border: none;
}

#nav-main {
    border-bottom: 1px solid #FFCD29 /*tertiary*/;
}

.nav-main-link {
    border-left: 1px solid #FFCD29 /*tertiary*/;
    border-right: none;
}

#nav .tray {
    border-top: none;
}

.crumb-link {
    border: 0;
    border-bottom: 2px solid #fff;
}

#searchBox select {
    border: 1px solid #36424b;
}

.search {
    border: 1px solid #36424b;
}

    .search input {
        border: 0;
    }

#footer h2 {
    border-bottom: 1px solid #C0C0C0 /*grey*/;
}

.footer-link {
    border-right: 1px solid #36424B /*charcoal*/;
}

.last .footer-link {
    border-right: none;
}

#meta-links {
    border-bottom: 1px solid #F47920 /*tertiary-dark*/;
}

.sidebar-title {
    border-bottom: 1px solid #C0C0C0 /*grey*/;
}

.nav-sub .nav-sub-item .nav-sub-link {
    border-bottom: 1px solid #D6E4E6;
}

h1 {
    border-bottom: 1px solid #C0C0C0 /*grey*/;
}

.pageInfo {
    border-top: 1px solid #C0C0C0 /*grey*/;
}

.directory h2 {
    border-top: 1px solid #C0C0C0 /*grey*/;
}

/*Backgrounds******/
.bkgnd {
    background-color: #FFF;
}

.bkgnd-none {
    background: transparent none;
}

.bkgnd-black {
    background-color: #000;
}

.bkgnd-grey {
    background-color: #C0C0C0;
}

.bkgnd-grey-light {
    background-color: #F3F3F3;
}

.bkgnd-grey-dark {
    background-color: #707070;
}

.bkgnd-primary {
    background-color: #D6E4E6; /*blue*/
}

.bkgnd-primary-light {
    background-color: #EFF4F5;
}

.bkgnd-primary-dark {
    background-color: #007596;
}

.bkgnd-secondary {
    background-color: #B3D32D; /*green*/
}

.bkgnd-secondary-light {
    background-color: #DCE9CD;
}

.bkgnd-secondary-dark {
    background-color: #678f00;
}

.bkgnd-secondary-safe {
    background-color: #336633; /*contrast safe against white*/
}

.bkgnd-tertiary {
    background-color: #FFCD29; /*orange*/
}
/*---*/
#header {
    background: #E6E6E6 url(../../../image/goa/page-bg-top.png) top center no-repeat;
}

#header-logo {
    background: url(../../../image/goa/UI/AB-AEP-Web-Logo.png) 5px 0 no-repeat;
}

#nav-main {
    background: #fff;
}

.nav-main-link:hover, .nav-main-link:active {
    background: #ffcd29; /*tertiary*/
}

#nav-main li.current a, #nav-main li.open a {
    background: #ffcd29; /*tertiary*/
}

#nav .tray {
    background: #fff;
}

.crumb-link {
    background: none;
}

.crumb-link {
    background: #E6E6E6 url(../../../image/goa/UI/page-crumbs-arrow.png) 0 0 no-repeat;
}

.currentPageHolder {
    background: transparent url(../../../image/goa/UI/page-crumbs-end.png) 100% 100% no-repeat;
}

    .currentPageHolder .crumb-text {
        background: #FFCD29 url(../../../image/goa/UI/page-crumbs-arrow.png) 0 0 no-repeat;
    }

.crumb-item:first-child .crumb-text {
    background: none repeat scroll 0 0 #E6E6E6;
}

#searchBox select {
    background: #fff;
}

.search {
    background: #fff;
}

    .search input {
        background: none;
    }

    .search .btn {
        background: #36424b url(../../../image/goa/UI/sprite.png) 0 0 no-repeat;
    }

#footer {
    background: #fff url(../../../image/goa/UI/page-bg-bottom.png) bottom center no-repeat;
}

#footer-logo {
    background: #fff url(../../../image/goa/UI/AB-AEP-Web-Footer-Logo.png) 5px 0 no-repeat;
}

#footer .social-link {
    background: url(../../../image/goa/UI/sprite.png) 0 -22px no-repeat;
}

#footer .facebook .social-link {
    background-position: 0 -22px;
}

#footer .twitter .social-link {
    background-position: -33px -22px;
}

#footer .flickr .social-link {
    background-position: 0 -54px;
}

#footer .youtube .social-link {
    background-position: -33px -54px;
}

/*Subnav***********/
.nav-sub li .nav-sub-link {
    background-color: #EFF4F5;
}
/* Arrows*/
.nav-sub li .nav-sub-link {
    background-position: 5px 10px;
    background-repeat: no-repeat;
}

.nav-sub li li .nav-sub-link {
    background-position: 15px 10px;
}

.nav-sub li li li .nav-sub-link {
    background-position: 25px 10px;
}
/* For 'open' items and their children */
.nav-sub .isParentActive .nav-sub-link, .nav-sub .isParentCurrent .nav-sub-link {
    background-image: url(../../../image/goa/interface/bgMenuParentOpen.gif);
}

.nav-sub .isParentActive .nav-sub-link {
    background-color: #FFF;
}

.nav-sub .isParentCurrent li .nav-sub-link {
    background-color: #FFF;
}

.nav-sub .isParentCurrent .nav-sub-link {
    background-color: #e6e6e6;
}

.nav-sub .isParentActive .nav-sub-link {
    background-image: url(../../../image/goa/interface/bgMenuParentOpen.gif);
    background-color: #FFF;
}

.nav-sub .isParentCurrent .nav-sub-link {
    background-image: url(../../../image/goa/interface/bgMenuParentOpen.gif);
    background-color: #ffcd29;
}

.nav-sub .isParentCurrent .nav-sub .nav-sub-item .nav-sub-link {
    background-color: #FFF;
}
/* For 'current' items with no children, make the background white and the text bold (ensure no background image is inherited) */
.nav-sub .isCurrent .nav-sub-link, .nav-sub .isActive .nav-sub-link {
    background-color: #ffcd29;
    background-image: none;
}
/* restore normal font weight for non-breadcrumb-path items AND assign closed arrow to non-active parents */
.nav-sub .isParent .nav-sub-link {
    background-image: url(../../../image/goa/interface/bgMenuParentClosed.gif);
}

.nav-sub .default .nav-sub-link {
    background-image: none;
}
/* hover state for ALL menu items. keep below other bg definitions to save redefinitions! */
.nav-sub li .nav-sub-link:hover, .nav-sub li .nav-sub-link:active, .nav-sub .isParentCurrent .nav-sub li .nav-sub-link:hover {
    background-color: #ffcd29; /*color: #FFF;*/
}

.block {
    background: #fff /*.bkgnd*/;
}

.article {
    background: #fff; /*.bkgnd*/
}

.tblAltRow tr:nth-child(odd) {
    background-color: #F3F3F3 /*grey-light*/;
}

/*Typography******/
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5em;
    -webkit-text-size-adjust: 100% /*fixes random font resizing issues on Safari Mobile*/;
}
/*
h1, h2, h3, h4, h5, h6 {
  font-weight:bold;
}
h1 {
  font-size: 2.2em;
}
h2 {
  font-size: 2.0em;
}
h3 {
  font-size: 1.8em;
}
h4 {
  font-size: 1.6em;
}
h4 {
  font-size: 1.3em;
}
*/

#header {
    font-family: Arial, Helvetica, Sans-Serif;
}

#header-logo {
    text-align: left;
}

.header-link {
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 0.91666em;
}

#nav a:link, #nav a:visited {
    text-decoration: none;
}

#nav a:hover, #nav a:active {
    text-decoration: none;
}
/*^.main-nav-link*/
.nav-main-link {
    font-size: 1em;
}
    /*^.main-nav-link:hover, .main-nav-link:active*/
    .nav-main-link:hover, .nav-main-link:active {
        text-decoration: none;
    }

.crumb-link:hover .crumb-text {
    text-decoration: underline;
}

.crumb-text {
    font-size: 1em;
}

.currentPageHolder .crumb-text {
    font-size: 1em;
    font-weight: bold;
}

.crumb-item:first-child .crumb-text {
    font-weight: bold;
}

#searchBox select {
    font-size: 0.91666em /*11px*/;
}

.search {
    text-align: left;
}

    .search input {
        font-size: 0.91666em;
    }

#footer {
    font-family: Arial, Helvetica, Sans-Serif;
}

    #footer h2 {
        font-size: 1.33333em /*16px*/;
        font-weight: normal;
    }

    #footer h3 {
        font-size: 1.16666em /*14px*/;
        font-weight: bold;
    }
    /*^span is a result of using asp:repeater*/
    #footer .col span h3:first-child {
        margin-top: 0;
    }

#footer-logo-link {
    text-indent: -9999em;
}

.footer-nav-link:link, .footer-nav-link:active, .footer-nav-link:visited {
    text-decoration: none;
}

.footer-nav-link:hover {
    text-decoration: underline;
}

#meta-links {
    text-align: right;
}

.footer-link:link, .footer-link:active, .footer-link:visited {
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

#footer .social .social-link {
    text-indent: -9999em;
}

#content {
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
}

#sidebar {
    /*font-family: Verdana, Arial, Helvetica, sans-serif;*/
}

.sidebar-title {
    font-size: 1.33333em;
}

.nav-sub .nav-sub-link {
    text-decoration: none;
}

/*three deep+*/
.nav-sub-link {
    font-size: 1.0em /*12px*/;
}
/*four deep+*/
.nav-sub li li li li .nav-sub-link {
    font-size: 0.91666em /*11px*/;
}

.nav-sub .isParentCurrent .nav-sub-link {
    font-weight: bold;
}

.nav-sub .isParentActive .nav-sub-link {
    font-weight: bold;
}

.nav-sub .isParentCurrent .nav-sub-link {
    font-weight: bold;
}

.nav-sub .isCurrent .nav-sub-link, .nav-sub .isActive .nav-sub-link {
    font-weight: bold;
}

.nav-sub .isParent .nav-sub-link {
    font-weight: normal;
}

.nav-sub .default .nav-sub-link {
    font-weight: normal;
}

.pageInfo, .datePosted, .date, .docInfo, a.linkMiniH2, div.linkMiniH2 a, p.miniH2, .heading-link.mini {
    font-size: 0.91666em /*11px*/;
    text-align: left;
}

.docInfo {
    font-style: normal;
}

/*Links Typo*/
ul a, ol a {
    font-weight: normal;
}

a:link, a:visited {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: underline;
}

.blue .top-story-link:hover {
    color: #0093d1;
}

.green .top-story-link:hover {
    color: #336633;
}

.orange .top-story-link:hover {
    color: #C24A00;
}

.red .top-story-link:hover {
    color: #CC0099;
}

