/* Colors */

.tblBorder td, .tblAltRow td, .tblBorder th, .boxTwoTone > div {
  border-color: #C0C0C0;
}

.boxRight, .boxLeft, .tblBorder, .tblBorder th, .tblBorderOnly, .tblAltRow, .tblAltRow th {
  border-color: #707070;
}

.boxStory {
  /*.borderGreenDark*/
  border-color: #678f00;
}

.headerRow, .tblAltRow th, .tblAltRowDark {
  background-color: #D6E4E6;
}

.tblAltRowDark th {
  /*.bkgndBlueDark*/
  background-color: #007596;
}

.boxRight, .boxLeft, .boxTwoTone > div:first-child {
  background-color: #F3F3F3;
}

.boxStory {
  background-color: #DCE9CD;
}

/*!!!PENDING - genericize usage*/

.imgFloatRight, .imgFloatLeft {
  position: relative;
  margin: 5px;
  display: block;
}
.imgFloatRight {
  float: right;
}
.imgFloatLeft {
  float: left;
  padding-right: 10px;
}

/* Image Maps */

div.ImageMapCSS {
  display: none;
}
ul.ImageMapCSS {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
}
ul.ImageMapCSS li {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  display: block;
  height: 100%;
}

/* Boxes - used with divs */

.highLightBox {
  padding: 5px;
  margin: 5px;
  border: 1px solid #C0C0C0;
  vertical-align: text-top;
  width: 96%;
  text-align: left;
  background-color: #EFF4F5;
}
.highLightBoxHeading {
  padding-left: 3px;
  background-color: #D6E4E6;
  text-align: left;
}
.highLightBoxRight, .highLightBoxLeft, .boxRight, .boxLeft, .boxRightHighlight, .boxLeftHighlight {
  padding: 10px;
  margin: 0px;
  vertical-align: text-top;
  width: 220px;
  text-align: left;
}
.highLightBoxRight, .highLightBoxLeft, .boxRightHighlight, .boxLeftHighlight {
  border: 1px solid #C0C0C0;
  background-color: #EFF4F5;
}
.boxRight, .boxLeft {
  border-style: solid;
  border-width: 1px;
}
.highLightBoxRight, .highLightBoxLeft, .boxRight, .boxLeft, .boxRightHighlight, .boxLeftHighlight {
  margin: 5px 10px;
}
.highLightBoxRight, .boxRight, .boxRightHighlight {
  float: right;
  margin-right: 10px;
}
.highLightBoxLeft, .boxLeft, .boxLeftHighlight {
  float: left;
}
.boxStory, .boxTwoTone > div {
  padding: 10px;
  width: 97%;
  margin: 0px;
  border-style: solid;
  border-width: 1px;
}
.boxTwoTone, .boxStory {
  margin-top: 20px;
}
.boxTwoTone > div + div {
  background-color: #FFF;
  border-top: none;
}
.boxTwoTone > div a {
  font-weight: bold;
}
.boxTwoTone > div > li a {
  font-weight: normal;
}
.boxTwoTone > div > li a.bold {
  font-weight: bold;
}

/*alt two tones*/
.boxTwoTone.toneBlue > div:first-child {
  background-color: #D6E4E6;
}
.boxTwoTone.toneBlue > div + div {
  background-color: #EFF4F5;
  border-top: none;
}
.boxTwoTone.toneBlue.toneWhite > div + div {
  background-color: #FFF;
  border-top: none;
}
.boxTwoTone.toneBlue.toneGrey > div:first-child {
  background-color: #F3F3F3;
}

/* Box Adjustments */
#content .boxNote h2, #content .boxNote > h4:first-child, #content .boxStory > h4:first-child, #content .boxNote > h3:first-child, #content .boxStory > h3:first-child, #content .boxTwoTone > div > h3:first-child, #content .boxTwoTone > div > h4:first-child {
  margin: 0px;
}
#content .boxNote > h4 + p, #content .boxStory > h4 + p, #content .boxNote > h3 + p, #content .boxStory > h3 + p {
  margin-top: 5px;
}
#content .boxNote h2 {
  font-size: 14px;
}
#headlines ul li .date, .docInfo {
  font-size: 11px;
  color: #606a73;
}
#headlines ul li .date {
  /*HIDE UNTIL NEW TEMPLATE
  display: none;*/
}

/*--Forms--*/
.VGFormTable {
  padding: 6px;
  border-collapse: separate;
  background-color: #F3F3F3 !important;
  border: 1px solid #C0C0C0 !important;
  margin: 0px;
  width: 97% !important;
  text-align: left !important;
  vertical-align: middle;
  float: none;
  border-spacing: 6px;
  empty-cells: show;
}
.VGFormInnerTable {
  padding: 6px;
  border-collapse: separate;
  margin: 0px;
  text-align: left !important;
  vertical-align: middle;
  float: none;
  border-spacing: 6px;
  empty-cells: show;
}

/*--Tables--*/

.tblBasic {
  /*No border, spacing only*/
}
.tblBorder {
  /*Border around cells*/
}
.tblBorderOnly {
  /*Border around table only*/
}
.tblAltRow {
  /*Identifier for use with headerRow and altRow*/
}
.tblAltRowDark {
  /*Identifier for use with altRow and altRowDark, No Borders except th*/
}
.tblPhoto {
  /*Same as tblBasic but with default img and link styles*/
}
.tblBorderRow {
  /*Borders (top/bottom) on all rows*/
}
.tblBasic, .tblBorder, .tblBorderOnly, .tblBorderRow, .tblAltRow, .tblAltRowDark {
  margin-top: 20px;
  width: 100%;
}
.tblBorder, .tblBorderOnly, .tblBorderRow, .tblAltRow {
  background-color: #FFFFFF;
}
.tblBorder, .tblBorderOnly, .tblAltRow {
  border-width: 1px;
  border-collapse: collapse;
  border-style: solid;
}
.tblBorderRow {
  border-collapse: collapse;
}
.tblBasic tr, .tblAltRowDark tr, .tblBorder tr, .tblBorderRow tr, .tblAltRow tr, .tblPhoto tr {
  vertical-align: top;
}
.tblBasic td, .tblBasic th, .tblBorder td, .tblBorder th, .tblAltRow td, .tblAltRow th, .tblBorderOnly td, .tblBorderOnly th, .tblBorderRow th, .tblBorderRow td, .tblPhoto td, .tblPhoto th, .tblAltRowDark td, .tblAltRowDark th {
  padding: 5px;
}
.tblBasic td, .tblBasic th, .tblBorderOnly td, .tblBorderOnly th, .tblPhoto, .tblPhoto td, .tblPhoto th, .tblAltRowDark, .tblAltRowDark td, .tblAltRowDark th, .tblBorderRow td, .tblBorderRow th {
  border: none;
  border-width: 0px;
}
.tblBorder td, .tblAltRow td, .tblBorder th, .tblAltRow th {
  border: 1px inset;
}
.tblBasic th, .tblBorder th, .tblAltRow th, .tblAltRowDark th {
  font-weight: bold;
}
.tblAltRowDark th {
  color: #FFF;
}
.tblPhoto a {
  font-weight: bold;
  padding-top: 5px;
}
.tblPhoto a + p {
  margin-top: 5px;
}
.tblPhoto img {
  padding: 0;
}
.tblCatalog > tr:first-child + tr > td:first-child {
  width: 30%;
}
.tblCatalog > tr:first-child + tr > td:first-child + td {
  width: 70%;
}
.tblBorderRow td {
  border-color: #C0C0C0;
  border-width: 1px 0 1px 0;
  border-style: solid none solid none;
}
/* Table Adjustments */
#content td > h4:first-child, #content td > h3:first-child, #content th > h4:first-child, #content th > h3:first-child {
  margin: 0;
}

/*--Lists--*/
.inlineList {
  margin: 0;
  padding: 0;
  display: block;
  list-style: none;
}
.inlineList li {
  margin: 0;
  padding: 0;
  display: inline;
  float: left;
}
#content table li {
  vertical-align: baseline;
}
/*---HEADER---*/
#banner {
  overflow: hidden;
}
/*---CONTENT---*/
/*#content h3, #content h4 { margin: 20px 0 5px; }
#content p, #content ul, #content ol { margin: 15px 0; }
#content div > h3:first-child, #content div > h4:first-child, #content div > p:first-child {
  margin-top: 5px;
}*/
#content td > h3:first-child, #content td > h4:first-child, #content td > p:first-child {
  margin-top: 0px;
  padding-top: 0px;
}
#content h1 + img {
  margin-top: 15px;
}
#content .last {
  margin-bottom: 5px;
}
#content .footnote {
  font-size: 10px;
}
#content .boxNote.noted > * {
  margin-left: 100px;
}
#content .boxNote > p:first-child {
  margin-top: 0px;
  margin-left: 0px;
}
#content .boxNote.noted > p:first-child + * {
  margin-top: 0px;
}
#content .boxNote.noted > p:first-child {
  float: left;
  font-weight: bold;
}
/*--Lists--*/
#content .article #CSSImageMap ul {
  padding: 0;
}
.listBoldFirst > li {
  font-weight: bold;
}
.listBoldFirst > li li {
  font-weight: normal;
}
.listAlphaChange {
  margin-top: 10px;
}

/*collapsible content*/
/*!!!PENDING update of FAQ - will be depracted*/
.accordionHeader {
  cursor: pointer;
  display: block;
  padding-left: 15px;
  margin: 10px 10px 0px 0px;
  background: url('../../image/goa/bgMenuParentClosed.gif') no-repeat left center;
}
#content .article .accordionHeader h4 {
  color: #0d3692;
  padding: 0;
}
.accordionHeader h4:hover {
  color: #0000FF;
}
.accordionHeaderSelected {
  cursor: pointer;
  display: block;
  padding-left: 15px;
  margin: 10px 10px 0px 0px;
  background: url('../../image/goa/interface/bgMenuParentOpen.gif') no-repeat left center;
}
#content .article .accordionHeaderSelected h4 {
  color: #800080;
  padding: 0;
}
.accordionContent {
  padding-left: 15px;
}
.accordionContent div {
  width: 98%;
}
.accordionContent div.date {
  margin-top: 10px;
  margin-bottom: 10px;
}
.accordionContent div.FAQItem {
  width: 95%;
  margin: 0px;
}
.accordionPrint {
}
/*!!!*/

/*General Adjustments*/

/*tables*/
.tblAltRow {
  margin-bottom: 15px;
  width: 100%;
}
.tblAltRow {
  border-width: 1px;
  border-collapse: collapse;
  border-style: solid;
}
.tblAltRow tr {
  vertical-align: top;
}
.tblAltRow td, .tblAltRow th {
  padding: 5px;
}
.tblAltRow td, .tblAltRow th {
  border: 1px inset;
}
.tblAltRow th {
  font-weight: bold;
}

/*tables colours*/
.tblAltRow td {
  border-color: #C0C0C0;
}
.tblAltRow, .tblAltRow th {
  border-color: #707070;
}
.tblAltRowSpan, .tblAltRowSpan td, .tblAltRowSpan tr, .tblAltRowSpan th {
   border: 1px solid #C0C0C0;
}
.tblAltRow th {
  background-color: #EFF4F5;
}

/* Box Adjustments */
.boxNote > h4:first-child, .boxNote > h3:first-child, boxNote > h2:first-child {
  margin: 0px;
}
.boxNote > h4 + p, .boxNote > h3 + p {
  margin-top: 5px;
}
.boxNote.noted > * {
  margin-left: 100px;
}
.boxNote > p:first-child {
  margin-top: 0px;
  margin-left: 0px;
}
.boxNote.noted > p:first-child + * {
  margin-top: 0px;
}
.boxNote.noted > p:first-child {
  float: left;
  font-weight: bold;
}
#content .boxNote > h4:first-child, #content .boxStory > h4:first-child, #content .boxNote > h3:first-child, #content .boxStory > h3:first-child, #content .boxTwoTone > div > h3:first-child, #content .boxTwoTone > div > h4:first-child {
  margin: 0px;
  padding: 0px;
}
#content .boxNote > h4 + p, #content .boxStory > h4 + p, #content .boxNote > h3 + p, #content .boxStory > h3 + p {
  margin-top: 5px;
}
#contact .tabs .content ul {
  margin-left: 20px;
}
#contact .tabs .content li {
  list-style: square;
}
#contact h3 + h4 {
  margin-top: 10px;
}
#contact h4 {
  font-size: 12px;
}
#contact h4 + p {
  margin-top: 0px;
  padding-top: 0px;
}
.contactFAQHeader {
  border-bottom: 1px solid lightgray;
  margin-top: 10px;
  width: 100%;
}
#header h2.logo {
  background: url(../../image/goa/UI/page-header-logo.png) 5px 0 no-repeat;
  width: 301px;
  height: 21px;
  position: absolute;
  top: 72px;
  left: 0;
  text-align: left;
  z-index: 999;
}

#header h2.logo a {
  width: 301px;
  height: 21px;
  display: block;
  text-indent: -9999em;
}

#footer h2.logo {
  background: url(../../image/goa/UI/page-footer-logo.png) 5px 0 no-repeat;
  width: 140px;
  height: 39px;
  float: left;
  border-bottom: none;
}

#footer h2.logo a {
  width: 115px;
  height: 39px;
  display: block;
  text-indent: -9999em;
}

caption h2, caption h3 {
  text-align: left;
}

/* Landing Pages */

/* INTERIM */

#homeFeatureHeader, #homeFeatureHeaderSlim {
  background: #fff;
  width: 700px;
  height: 180px;
  padding: 0px;
  margin: 0 auto 20px;
  overflow: hidden;
}
#homeFeatureHeader {
  height: 180px;
  margin-bottom: 21px;
}
#homeFeatureHeaderSlim {
  height: 108px;
}
#homeFeatureHeaderSlim.narrow {
  height: 70px;
}
#leadStories, #servicesNav {
  clear: both;
  padding: 5px 0px 0px 0px;
}
#content .columnLeftFull {
  width: 694px;
  position: relative;
}
#content .columnLeft, #content .columnLeftHalf {
  float: left;
  display: inline-block;
  width: 325px;
  position: relative;
}
#content .columnRight, #content .columnRightHalf {
  float: left;
  display: inline-block;
  margin-left: 26px;
  width: 300px;
  position: relative;
  overflow: hidden;
}
#content .sectionLandingLinks {
}
#content .sectionRecreationLinks {
}
#content .sectionLandingLinks > ul:first-child, #content .sectionRecreationLinks > ul:first-child {
  padding-top: 2px;
}
#content .sectionLandingLinks > ul {
  list-style: none;
  padding-left: 0;
  margin-left: 10px;
}
#content .sectionRecreationLinks > ul {
  list-style: none;
  padding-left: 0;
  margin-left: 20px;
}
#content .sectionLandingLinks > ul ul, #content .sectionRecreationLinks > ul ul {
  list-style: disc;
  padding-left: 10px;
  margin-left: 15px;
  margin-top: 0px;
}
#content .sectionLandingLinks > ul ul {
  margin-bottom: 0px;
}
#content .sectionRecreationLinks > ul ul {
  margin-bottom: 10px;
}
#content .sectionLandingLinks > ul li a, #content .sectionRecreationLinks > ul li a {
  font-weight: bold;
}
#content .sectionLandingLinks > ul li > ul li a, #content .sectionRecreationLinks > ul li > ul li a {
  font-weight: normal;
}
#content .sectionLandingLinks > ul > li + li {
  padding-top: 10px;
}
#content .sectionRecreationLinks > ul > li + li {
  padding-top: 0px;
}

/* Wildlife Viewing Guide */
ul#WVGsymbols {
  margin: 10px 0 10px 0;
  padding: 0;
}
ul#WVGsymbols li {
  list-style-type: none;
  display: inline;
  margin: 0 3px 0 0;
  cursor: pointer;
}

/* Wildlife pages */
h1 + .wildSpeciesHeader {
  margin-top: 15px;
}
.wildSpeciesHeader, .wildSpeciesBody {
  border-width: 1px;
  border-color: #678f00;
  border-style: solid;
  vertical-align: middle;
  text-align: left;
  padding: 10px;
  width: 640px;
}
.wildSpeciesHeader {
  border-bottom: none;
  margin: 0px;
  background-color: #DCE9CD;
  font-family: Verdana;
  font-weight: bold;
  font-size: 1.2em;
}
.wildSpeciesBody {
  overflow: auto;
  margin-bottom: 15px;
}

/*Fish*/
div#flash3D {
  position: absolute;
  left: 60px;
  top: 5px;
  width: 600px;
  height: 484px;
  z-index: 100;
}

/* Modal Popup - primary use: Image Libaray*/
.modal_popup {
  border: 2px solid #007596;
  background-color: #E9ECF3;
}
.modal_content {
  background-color: Gray;
  filter: alpha(opacity=50);
  opacity: 0.5;
}
.modal_title, .modal_statusarea {
  /*CSS for Drag Handle*/
  padding: 1px;
  text-indent: 3px;
  font-size: 1.5em;
  background-color: #007596;
  color: white;
  overflow: hidden;
  width: auto;
  filter: alpha(opacity=100);
  opacity: 1;
}
.modal_title .modal_controls {
  /*CSS for controls (min, close etc) within Drag Handle*/
  position: absolute;
  right: 1px;
  top: 2px;
  cursor: pointer;
}
* html .modal_handle {
  /*IE6 and below CSS hack. Width must be set to 100% in order for opaque title bar to render*/
  width: 100%;
}
.modal_contentarea {
  /*CSS for Content Display Area div*/
  border-top: 1px solid brown;
  background-color: white;
  color: black; /*height: 150px;*/
  padding: 2px;
  overflow: auto;
}
.modal_statusarea {
  /*CSS for Status Bar div (includes resizearea)*/
  height: 13px; /*height of resize image*/
}
.modal_resizearea {
  /*CSS for Resize Area itself*/
  float: right;
  width: 13px; /*width of resize image*/
  height: 13px; /*height of resize image*/
  cursor: nw-resize;
  font-size: 0;
}
#content .modal_statusarea a, #content .modal_statusarea a:link {
  color: #FFF;
}
#content .modal_statusarea a:hover {
  color: #CCC;
}

/*PSP GridView*/
.SearchResultsHeader th, .SearchResultsRow td {
  padding: 2px 5px;
  border-style: solid solid none solid;
  border-width: 1px;
  border-color: #678f00;
  background-color: #E9ECF3;
}
.SearchResultsHeader th, .SearchResultsFooter td {
  font-weight: bold;
}
.SearchResultsRow td, .SearchResultsAltRow td {
  padding-right: 10px;
}
.SearchResultsAltRow td {
  background-color: #EFF4F5;
}

/*Map Elements*/
.mapElement {
  border: 1px solid #D1D1D1;
  width: 90%;
}
.mapInfoContainer {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 90%;
}
.mapInfoContainer .header {
  font-size: 14px;
  font-weight: bold;
}
.mapInfoContainer .header a {
  text-decoration: none !important;
  color: #000 !important;
}
.mapInfoTabStrip a {
  text-decoration: none !important;
}
.mapPointsOverview {
  border: solid 1px #D1D1D1;
  padding-right: 0;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
  font-size: 10px;
  width: 100px;
}
.mapPointsOverview div {
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 4px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.mapPointsOverview .heading {
  font-weight: bold;
}
.mapPointsOverview .highlighted {
  background-color: #EAEAEA;
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
}
.mapInfoMultiPage {
  border: 1px solid #EAEAEA;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 8px;
}
.printerFriendlyLink {
  font-size: 10px;
  font-style: italic;
  cursor: pointer;
  margin-bottom: 5px;
}
.treeLink {
  font-weight: bold;
  font-size: 9px;
  padding-left: 12px;
  margin-top: 5px;
  cursor: pointer;
}
.collapsed {
  background-image: url('../../image/expand.gif');
  background-position: left;
  background-repeat: no-repeat;
}
.expanded {
  background-image: url('../images/collapse.gif');
  background-position: left;
  background-repeat: no-repeat;
}
.mapSelectorList {
  margin-bottom: 2px;
  width: 100% !important;
}
.mapSelectorList .rcbInput {
  padding-top: 4px !important;
  font-size: 1.0em !important;
  font-weight: bold;
}
.EditMapHeadingCell {
  width: 120px;
  text-align: right;
}

/* Programs and Services/ In This Section Home Page Container */
#content #servicesNav {
  padding: 0px 20px 10px 20px;
  margin-top: 20px;
  position: relative;
  background-color: #fff;
}
#content #servicesNav h2 {
  margin: 0 0 12px -20px; /*REMOVE*/
  padding: 16px 20px 4px 0;
}
#content #servicesNav h3, #content #servicesNav h3 a {
  color: #79A901;
  margin: 12px 0 0 0;
  padding-bottom: 0;
  font-size: 14px;
}
#content #servicesNav p {
  margin: 0;
  padding: 0 0 0 15px;
}
#content .servicesNavDiv {
  width: 360px;
  margin: 0 10px 10px 10px;
  vertical-align: top;
  padding: 0 10px;
}
#content #servicesNav a, #content #servicesNav a:link, #content #servicesNav a:visited, #content #servicesNav a:active {
  text-decoration: none;
}
#content #servicesNav a:hover {
  text-decoration: underline;
}

/*HubSpot*/
#hsjssp {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}