form.search .btn input {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";		/* for IE8 (must be first) */
	filter: alpha(opacity=0);																						/* for < IE8 */
}

/* Drop down styles*/

.selectbox {
	display: block;  
	padding:4px 0 0 4px;
	font-size:1em;/* Resize Font*/
	text-align:left;
	background: url('../image/btn_dropdown.gif') no-repeat right;
	cursor: pointer;
	height: 17px;
	border: 1px solid #0F6686;
	font: 11px/1.2 Arial, Helvetica, sans-serif;
	color: #606a73;
	vertical-align:middle;
}

#header,
#header > .inner,
#nav, #main,
#main .section,
#page > .inner,
#footer {
  overflow: hidden;
}
#home #header,
#home #header .inner {
  overflow: visible;
}