.score .rate0			{ z-index: 23; }
.score .rate0 a		{ z-index: 22; }
.score .rate0h		{ z-index: 21; }
.score .rate0h a	{ z-index: 20; }
.score .rate1			{ z-index: 19; }
.score .rate1 a		{ z-index: 18; }
.score .rate1h		{ z-index: 17; }
.score .rate1h a	{ z-index: 16; }
.score .rate2			{ z-index: 15; }
.score .rate2 a		{ z-index: 14; }
.score .rate2h		{ z-index: 13; }
.score .rate2h a	{ z-index: 12; }
.score .rate3			{ z-index: 11; }
.score .rate3 a		{ z-index: 10; }
.score .rate3h		{ z-index: 9; }
.score .rate3h a	{ z-index: 8; }
.score .rate4			{ z-index: 7; }
.score .rate4 a		{ z-index: 6; }
.score .rate4h		{ z-index: 5; }
.score .rate4h a	{ z-index: 4; }
.score .rate5			{ z-index: 3; }
.score .rate5 a		{ z-index: 2; }

.score .rate0 a		{ background: none !important; }

#content .article ol li a {
	padding-left: 5px;
}

#content .news-item .tags li {
	padding-right: 8px;
}

#footer .inner {
	padding: 25px 0 20px;
}

#header #secondary .sub #submore {
	float: none;
	position: absolute;
	left: 10px;
}

#headlines .ticker {
	display: inline;
}

#services ul {
	width: 100%;
	display: inline;
}

#services ul li {
	width: 226px;
	margin: 0;
}

#services ul li span {
	display: list-item;
	padding: 0 0 0 20px;
	list-style-position: inside;
	list-style-type: square;
}

#services .main {
	padding-bottom: 20px;
}

/* Drop down styles */

.selectbox {
	display: block;  
	padding:4px 0 0 4px;
	font-size:1em;/* Resize Font*/
	text-align:left;
	background: url('../image/btn_dropdown.gif') no-repeat right;
	cursor: pointer;
	height: 17px;
	border: 1px solid #0F6686;
	font: 11px/1.2 Arial, Helvetica, sans-serif;
	color: #606a73;
	vertical-align:middle;
}

/* OL list styles */

#content .article ol li span{
	margin:0 0 0 -10px;
	padding:0;
}