/*
Ministry-wide common elements

Index:
*Typography
*Lists
*Tables
*Forms
*Accessibility

*/

/*Typography******/
body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.5em;
  -webkit-text-size-adjust: 100% /*fixes random font resizing issues on Safari Mobile*/;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
h1 {
  padding: 0 0 5px;
  margin: 0 0 10px;
  font-size: 1.83333em /*22px*/;
  line-height:1.5em;
}
h2 {
  font-size: 1.58333em /*19px*/;
  line-height: 1.2em;
}
h3 {
  font-size: 1.33333em /*16px*/;
  line-height: 1.2em;
}
h4 {
  font-size: 1.16666em /*14px*/;
}
h5 {
  font-size: 1.1em;
}
h6 {
  font-size: 1em;
}

h2:first-child, h3:first-child, h4:first-child {
  margin-top:0;
}

ul a, ol a {
  font-weight: bold;
}
ul ul a, ol ol a {
  font-weight: normal;
}

p {
  line-height: 1.5;
  margin-top: 10px;
}
p:first-child {
  margin-top: 0px;
}

.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.normal {
  font-weight: normal;
  font-style: normal;
}
.center {
  text-align:center;
} 
.code {
  font-family: Courier New, Monospace;
  font-size: 1em;
}

/*^replaces imgCaption*/
.caption {
  font-size: 0.75em /*9px*/
}

/*Links***************/
a {
  color: #0D3692;
}

a:link, a:visited {
  text-decoration: underline;
}

a:hover, a:active {
  color: #0000FF;
  text-decoration: none;
}

a img {
  border: 0;
}

/*Lists*************/
ul, ol {
  margin: 10px 0 0 10px;
  padding: 0 10px 0 15px;
}

 ul li {
  list-style: square;
  line-height: 1.4;
  margin-top: 5px;
  vertical-align: middle;
}

.doubleSpace li {
  margin-top: 10px;
}
.singleSpace li {
  margin-top: 5px;
}

ul li:first-child, ol li:first-child {
  margin-top: 0px;
}

/*Tables************/
table {
  margin:20px auto 0;
}
th {
  text-align: left;
}

/*Forms************/

/*Accessbility****/
/* Hide for both screenreaders and browsers: css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden;
}

/* Hide only visually, but have it available for screenreaders: by Jon Neal. www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}
/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden;
}

/*Basic Positioning*/
.left {
  float: left;
}
.right {
  float: right;
}

/*^revise CLEAR FIX 
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }*/

html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements in most situations. nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.sub {
    vertical-align: sub;
    font-size: 65%;
}
.sup {
    position: relative; 
    top: 0em;
    font-size: 65%;
}