@CHARSET "ISO-8859-1";

#page {
	height: 140px;
}
#header {
	height: 180px;
}
#header-logoAER {
	text-align: left;
	height: 130px;
    left: 400px;
    position: absolute;
    top: 30px;
    width: 300px;
    z-index: 999;
	background: url("../image/AER_logo_RGB.png") no-repeat scroll 5px 0 transparent;
}